/*jojo references
:root {
    --Black-Sabath: #0B2027;
    --bs-primary: #71697A;
    --King-Crimson: #DD1C1A;
    --Star-Platinum: #DDDDDD;
    --bs-info: #C6A15B;
}*/
/*------ fonts ------*/
@font-face {
    font-family: "Cyberthrone" ;
    src: url("../assets/Fonts/Cyberthrone.ttf") format("truetype");
}

@font-face {
    font-family: "Japon" ;
    src: url("../assets/Fonts/Japon.ttf") format("truetype");
}

@font-face {
    font-family: "Modern-Antiqua" ;
    src: url("../assets/Fonts/ModernAntiqua-Book.ttf") format("truetype");
}
/*------ Writting styles ------*/
h1{
    font-size: 60px;
    font-weight: bolder;
    color: var(--bs-info);
    font-family: "Japon";
}

h2{
    font-size: 30px;
    font-weight: bolder;
    color: var(--bs-dark);
    font-family: "Modern-Antiqua";
}

h3{
    font-size: 26px;
    font-weight: bolder;
    color: var(--bs-primary);
    font-family: "Modern-Antiqua";
}

h4{
    font-size: 22px;
    font-weight: bolder;
    color: var(--bs-dark);
}

h5{
    font-size: 18px;
    font-weight: bolder;
    color: var(--bs-info);
}

h6{
    font-size: 14px;
    font-weight: bolder;
    color: var(--bs-secondary);
}
/*------ general styles ------*/




/*------Hero section ------*/




/*------ Others ------*/

