/*jojo references*/
:root {
    --Black-Sabath: #0B2027;
    --Hermit-Purple: #71697A;
    --King-Crimson: #DD1C1A;
    --Star-Platinum: #DDDDDD;
    --Gold-Experience: #C6A15B;
}
/*------ fonts ------*/
@font-face {
    font-family: "Cyberthrone" ;
    src: url("../assets/Fonts/Cyberthrone.ttf") format("truetype");
}

@font-face {
    font-family: "Japon" ;
    src: url("../assets/Fonts/Japon.ttf") format("truetype");
}

@font-face {
    font-family: "Modern-Antiqua" ;
    src: url("../assets/Fonts/ModernAntiqua-Regular.ttf") format("truetype");
}
/*------ Writting styles ------*/
h1{
    font-size: 34px;
    font-weight: bolder;
    color: var(--Gold-Experience);
}

h2{
    font-size: 30px;
    font-weight: bolder;
    color: var(--Black-Sabath);
}

h3{
    font-size: 26px;
    font-weight: bolder;
    color: var(--Hermit-Purple);
}

h4{
    font-size: 22px;
    font-weight: bolder;
    color: var(--Black-Sabath);
}

h5{
    font-size: 18px;
    font-weight: bolder;
    color: var(--Gold-Experience);
}

h6{
    font-size: 14px;
    font-weight: bolder;
    color: var(--King-Crimson);
}
/*------ general styles ------*/





/*------Hero section ------*/




/*------ Others ------*/

