/*------ general styles ------*/
* {
    box-sizing: border-box;
}

body {
    height: 100vh;
    overflow-y: scroll;
    background-color: var(--Star-Platinum);
}

.navbar{
    background-color: var(--Black-Sabath);
    color: white;

}

.navbar-brand {
    margin: 0 10px;
}

main {
    margin-top: 86px;
}

.navbar-brand {
    color: var(--Star-Platinum);
}

.navbar-brand:hover {
    color: var(--King-Crimson);
}

.navbar-brand.active {
    padding: 4px;
    border: red 2px solid;
}

footer {
    background-color: var(--Black-Sabath);
    
}

/*------Hero section ------*/
.pitch {
    font-size: 35px;
    color: var(--Star-Platinum);
}

.bienfaits {
    text-align: center;
    font-size: 18px;
    color: var(--Star-Platinum);
    border: var(--King-Crimson) 2px solid;
    padding: 5px;
}

button.btn.btn-primary {
    background-color: var(--Gold-Experience);
    font-size: 20px;
    font-weight: bold;
    color: var(--King-Crimson);
    border: var(--Star-Platinum) 4px solid;
}

button.btn.btn-primary:active {
    background-color: var(--Black-Sabath);
    font-size: 20px;
    font-weight: bold;
    color: var(--Gold-Experience);
    border: var(--King-Crimson) 4px solid;
}

.cadre {
    width: 100%;
    aspect-ratio: 5/9;
    border-radius: 10px;
    transform: scale();  
}

@media screen and (max-width: 991px ) {
    .cadre {
        transform: scale(0.7);  
    }
}

.cadre iframe {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

/*------ Others ------*/
.row.main {
    width: 100%;
    height: 100%;
    border-right: 3px solid var(--King-Crimson);
}

.row.main:nth-child(odd) {
    background-color: var(--Hermit-Purple);
}

.footer {
    width: 100%;
}

.footer p, p a {
    color: var(--Star-Platinum);
    text-decoration: none;
}

p a:hover {
    color: var(--King-Crimson);
}

main .container {
    border-left: 3px solid var(--King-Crimson);
}