/*------ general styles ------*/
* {
    box-sizing: border-box;
}

body {
    height: 100vh;
    overflow-y: scroll;
    background-color: var(--bs-light);
}

/*------ NavBar ------*/

.navbar{
    background-color: var(--bs-dark);
    color: white;

}


.navbar-brand {
    margin: 0 10px;
}

.navbar-brand {
    color: var(--bs-light);
}

.navbar-brand:hover {
    color: var(--bs-secondary);
}

.navbar-brand.active {
    padding: 4px;
    border: red 2px solid;
}

/*------ Main section ------*/

main {
    margin-top: 101px;
}

main .container {
    border-left: 3px solid var(--bs-secondary);
}

/*----------------- Couleur main --------------*/
.row.main {
    width: 100%;
    height: 100%;
    border-right: 3px solid var(--bs-secondary);
}

#appli, #temoin, #temoin-card, #email{
    background-color: var(--bs-primary);
    padding-bottom: 50px;
}

/*------ Hero section ------*/
.pitch {
    font-size: 35px;
    color: var(--bs-light);
}

.bienfaits {
    text-align: center;
    font-size: 18px;
    color: var(--bs-light);
    border: var(--bs-secondary) 2px solid;
    padding: 5px;
}

button.btn.btn-primary {
    background-color: var(--bs-info);
    font-size: 20px;
    font-weight: bold;
    color: var(--bs-secondary);
    font-family: "Modern-Antiqua";
    border: var(--bs-light) 4px solid;
}

button.btn.btn-primary:active {
    background-color: var(--bs-dark);
    font-size: 20px;
    font-weight: bold;
    color: var(--bs-info);
    border: var(--bs-secondary) 4px solid;
}

.cadre {
    width: 100%;
    aspect-ratio: 5/9;
    border-radius: 10px;
    transform: scale();  
}

.cadre iframe {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

/*------ function ------*/
hr {
    color: var(--bs-secondary);
    transform: scaleY(2);
}

#section-features > .row > div > .card {
    min-height: 460px;
    border: 3px var(--bs-secondary) solid;
}
.card-body {
    background-color: var(--bs-dark);
}

.card-body > p {
    color:  var(--bs-secondary);
}

.card-body > h3 {
    color: var(--bs-info);
}

.card-body > svg {
    color: var(--bs-primary);
    filter: drop-shadow( 2px 2px var(--bs-info));
}

@media screen and (max-width: 991px) {
    #section-features > .row > div > .card {
        min-height: 100%;
    }
}

#section-features > div > div > p {
    color: var(--bs-dark);
}

/*------ Temoin ------*/

#section-testimonials > div > div >h2, 
#section-testimonials {
    color: var(--bs-light);
}

#section-testimonials > .row > div > .card {
    min-height: 400px;
    border: solid 2px var(--bs-secondary);
}

.card > img {
    height:  20vh;
    object-fit: cover;
}

.bit-down {
    object-position: 0 10%;
}

.bit-bit-down {
    object-position: 0 20%;
}

.bi-chat-quote {
    margin-left: 80%;
}

@media screen and (max-width: 991px) {
    .bit-down {
        object-position: 0 25%;
    }
    
    .bit-bit-down {
        object-position: 0 40%;
    }
}

/*------ FAQ ------*/

#FAQ > .row > h2 {
    text-align: center;
}

.accordion-button {
    color: var(--bs-info);
}

.accordion-button.bg-dark.border.border-secondary {
    color: var(--bs-info);
}


.accordion-button.bg-dark.border.border-secondary:hover  {
    color: var(--bs-secondary);
}

.accordion-body {
    font-family: Modern-Antiqua;
}

/*------ section-email ------*/

#section-email > div > div > h2,
#section-email > div > div {
    color: var(--bs-light);
}

#email {
    background-image: url(../assets/Image/neom-wTmGtmGQCjQ-unsplash.jpg);
    object-fit: contain;
}

.infolettre {
    background-color: var(--bs-secondary);
}

:root {
    --wtf: 221, 28, 26;
}

@media screen and (max-width: 768px) {
    .infolettre {
        background-color: rgba(var(--wtf), 0.8);
    } 
}

button.btn.btn-primary.abonne {
    background-color: var(--bs-primary);
    font-size: 20px;
    font-weight: bold;
    color: var(--bs-info);
    font-family: "Modern-Antiqua";
    border: 0;
}

button.btn.btn-primary.abonne:active {
    background-color: var(--bs-info);
    font-size: 20px;
    font-weight: bold;
    color: var(--bs-secondary);
    font-family: "Modern-Antiqua";
}

/*------ PopUp ------*/

.modal {
    font-family: "Modern-Antiqua";
}

.modal-content {
    background-color: var(--bs-info);
}

.input-group-text {
    background-color: var(--bs-light);
    border: 1px solid var(--bs-dark);
    color: var(--bs-dark);
}

.bi-envelope {
    fill: var(--bs-info);
}

.form-control {
    border: 1px solid var(--bs-dark);
    border-left: 0;
    background-color: var(--bs-light);
}

.form-control:focus {
    background-color: var(--bs-light);
}

.btn-close {
    background-color: var(--bs-light);
}

.inscrire {
    background-color: var(--bs-primary);
    color: var(--bs-info);
    font-weight: bold;
}

.inscrire:hover {
    background-color: var(--bs-light);
    color: var(--bs-dark);
}

.anul-modal {
    background-color: var(--bs-secondary);
    color: var(--bs-dark);
    font-weight: bold;
}

.anul-modal:hover {
    background-color: var(--bs-dark);
    color: var(--bs-light);
}

/*------ Footer ------*/

footer {
    background-color: var(--bs-dark);
}

.footer {
    width: 100%;
}

.footer p, p a {
    color: var(--bs-light);
    text-decoration: none;
}

p a:hover {
    color: var(--bs-secondary);
}

/*------ Others ------*/

@media screen and (max-width: 991px) {
    h1 {
        text-align: center;
    }
}

.nav-link {
    font-family: "Modern-Antiqua";
    font-size: large;
}

.Festival-Name {
    font-family: "Japon";
    font-size: 25px;
}

p {
    font-family: "Modern-Antiqua";
    
}

