/*------ general styles ------*/
.navbar{
    background-color: var(--Black-Sabath);
    color: white;
  }

.navbar-toggler{
    background-color: var(--Hermit-Purple);
}

.navbar-brand{
    margin: auto;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
}
/*------Hero section ------*/




/*------ Others ------*/

